<section id="<%= dom_id(borrowed_book) %>" class="loan">
  <%= image_tag borrowed_book.picture_url.presence || "", title: borrowed_book.title %>

  <div class="right">
    <p><%= t(".borrowed_from") %> <span class="borrower"><%= borrowed_book.lender.full_name %></span></p>
    <div class="details">
      <div class="title"><%= borrowed_book.title %></div>
      <div class="author"><%= borrowed_book.author %></div>
    </div>
  </div>
</section>
