<section id="<%= dom_id(borrowed_book) %>" style="display: flex; align-items: center">
  <%= image_tag borrowed_book.picture_url || "https://via.placeholder.com/180x260", title: borrowed_book.title %>
  <p>
    <strong><%= borrowed_book.title %></strong>
    (<%= borrowed_book.author %>)
    <%= t(".borrowed_from") %> <%= borrowed_book.lender.full_name %>
  </p>
</section>
