<section id="<%= dom_id(loan) %>" style="display: flex; align-items: center">
  <p>
    <strong><%= loan.title %></strong>
    (<%= loan.author %>)
    <%= t(".loaned_to") %> <%= loan.borrower.full_name %>
  </p>
  <%= link_to t(".i_got_it_back"), loan_path(loan), method: :delete, style: "margin-left: 1rem" %>
</section>
