<h2><%= t(".title") %></h2>

<%= turbo_stream_from current_user, :loans %>
<div id="loans">
  <%= render partial: "loans/loan", collection: @loans %>
</div>

<% if @loans.empty? %>
  <p><%= t(".no_data") %></p>

  <%= link_to t(".loan_a_book"), loans_borrower_step_path, class: 'action', style: "margin-top: 2rem" %>
<% end %>
