<%= form_with model: @loan do |f| %>
  <%= f.hidden_field :borrower_id, value: @loan.borrower_id %>
  <%= f.hidden_field :isbn, value: @loan.isbn %>
  <%= f.hidden_field :title, value: @loan.title %>
  <%= f.hidden_field :author, value: @loan.author %>

  <div>
    <%= t(".loan") %>
    <strong><%= @loan.title %></strong>
    (<%= @loan.author %>)
    <%= t("to") %> <%= @loan.borrower.full_name %>?
  </div>

  <%= f.submit %>
<% end %>
