<!DOCTYPE html>
<html>
  <head>
    <title>Biblioshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user && display_menu? %>
      <%= link_to current_user.initials, settings_path, class: "user-avatar" %>
      <nav>
        <ul>
          <li><%= link_to_unless_current(t(".home"), root_path){ |name| tag.p name } %></li>
          <li><%= link_to_unless_current(t(".loans"), loans_path){ |name| tag.p name } %></li>
          <li><%= link_to_unless_current(t(".borrowed_books"), borrowed_books_path){ |name| tag.p name } %></li>
        </ul>
      </nav>
    <% end %>

    <p class="alert"><%= alert %></p>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
