<!DOCTYPE html>
<html>
  <head>
    <title>Boukiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin-left: 5rem; margin-top: 1rem">
    <h1>Bookiz</h1>

    <% if current_user %>
      <%= link_to_unless_current 'Home', root_path %>
      <%= link_to_unless_current 'Loans', loans_path %>
    <% end %>

    <div style="margin-top: 3rem">
      <%= yield %>
    </div>
  </body>
</html>
